@font-face{
    font-family:"dolcevita";
	src:url("dolcevita.ttf");
}

body {
    z-index: -2;
    background-color: #10c4c8;
    margin: 0;
    padding-bottom: 10px;
}

#title {
    z-index: 1;
    box-shadow: 0px 0px 10px #10c4c8;
    background-color: #12dadf;
    font-family: dolcevita;
    text-align: center;
    margin-bottom: 0;
}

#title h1 {
    margin: auto;
    font-size: 75px;
}

.nav {
    height: 40px;
    z-index: 0;
    background-color: #00889c;
    box-shadow: 0px 0px 10px #007a8c;
    font-size: 25px;
    margin-bottom: 20px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    margin-left: 750px;
}

.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 20px;
    color: black;
    text-align: center;
}

.nav ul li a:hover {
    color: white;
}

.divcenter {
   margin-left: auto;
   margin-right: auto;
}

#info {
    font-family: dolcevita;
    z-index: -1;
    box-shadow: 0px 0px 10px #0098ae;
    font-size: 20px;
    text-align: center;
    background-color: #00c5e1;
    width: 1800px;
    padding-bottom: 10px;
}

#materials {
    font-family: dolcevita;
    text-align: center;
    font-size: 20px;
    z-index: -1;
    box-shadow: 0px 0px 10px #0098ae;
    font-size: 20px;
    background-color: #00c5e1;
    width: 1800px;
}

#physics {
    font-family: dolcevita;
    z-index: -1;
    box-shadow: 0px 0px 10px #0098ae;
    font-size: 20px;
    text-align: center;
    background-color: #00c5e1;
    width: 1800px;
    padding-bottom: 10px;
}

#arduino-wire {
    z-index: 0;
    width: 410px;
    height: 325px;
    background: #00b1ca;
    padding-top: 5px;
    box-shadow: 0px 0px 10px #009db4;
}

#flashlight-wire {
    z-index: 0;
    width: 410px;
    height: 470px;
    background: #00b1ca;
    padding-top: 5px;
    box-shadow: 0px 0px 10px #009db4;
}

#intro {
    font-family: dolcevita;
    z-index: -1;
    box-shadow: 0px 0px 10px #0098ae;
    font-size: 20px;
    text-align: center;
    background-color: #00c5e1;
    width: 1800px;
    padding-bottom: 5px;
}

#manual {
    font-family: dolcevita;
    z-index: -1;
    box-shadow: 0px 0px 10px #0098ae;
    font-size: 20px;
    text-align: center;
    background-color: #00c5e1;
    width: 1800px;
    padding-bottom: 5px;

}

#manual a {
    text-align: center;
}
#instructions-list ul li {
    list-style: none;
}

#instructions h2 {
    text-align: center;
}

#safety-list ul li p {
    text-align: center;
}

#safety-list ul li {
    list-style: none;
}

#legal {
    text-align: center;
}

#disclaimer {
    font-size: 12px;
}

#BoM {
    z-index: 0;
    width: 1367px;
    height: 855px;
    background: #00b1ca;
    padding-top: 5px;
    box-shadow: 0px 0px 10px #009db4;
}
#tanked-logo {
    margin-top: 5px;
}

#marburg {
    z-index: 0;
    width: 510px;
    height: 381px;
    background: #00b1ca;
    padding-top: 5px;
    box-shadow: 0px 0px 10px #009db4;

}
